/* Positioning */
.abs { position: absolute!important; }
.fixed { position: fixed!important; }
.rel { position: relative!important; }

/* Box-model */
.dn { display: none!important; }
.db { display: block!important; }
.di { display: inline!important; }
.dib { display: inline-block!important; }
.df { display: flex!important; }
.dt { display: table!important; }

.w1of1 { width: 100%!important; }
.w1of10 { width: 10%!important; }
.w1of8 { width: 12.5%!important; }
.w1of4 { width: 25%!important; }
.w1of3 { width: 33.333333333333333%!important; }
.w1of2 { width: 50%!important; }

.m0 { margin: 0!important; }
.m1 { margin: 1rem!important; }
.m2 { margin: 2rem!important; }
.m3 { margin: 3rem!important; }
.m0p5 { margin: .5rem!important; }
.mt0p5 { margin-top: .5rem!important; }
.mt1 { margin-top: 1rem!important; }
.mt2 { margin-top: 2rem!important; }
.mt3 { margin-top: 3rem!important; }
.mr0p5 { margin-right: .5rem!important; }
.mr1 { margin-right: 1rem!important; }
.mr2 { margin-right: 2rem!important; }
.mr3 { margin-right: 3rem!important; }
.mb0p5 { margin-bottom: .5rem!important; }
.mb1 { margin-bottom: 1rem!important; }
.mb2 { margin-bottom: 2rem!important; }
.mb3 { margin-bottom: 3rem!important; }
.ml0p5 { margin-left: .5rem!important; }
.ml1 { margin-left: 1rem!important; }
.ml2 { margin-left: 2rem!important; }
.ml3 { margin-left: 3rem!important; }
.mx0p5 { margin-left: .5rem!important; margin-right: .5rem!important; }
.mx1 { margin-left: 1rem!important; margin-right: 1rem!important; }
.mx2 { margin-left: 2rem!important; margin-right: 2rem!important; }
.mx3 { margin-left: 3rem!important; margin-right: 3rem!important; }
.my0p5 { margin-top: .5rem!important; margin-bottom: .5rem!important; }
.my1 { margin-top: 1rem!important; margin-bottom: 1rem!important; }
.my2 { margin-top: 2rem!important; margin-bottom: 2rem!important; }
.my3 { margin-top: 3rem!important; margin-bottom: 3rem!important; }


.p0 { padding: 0!important; }
.p0p5 { padding: .5rem!important; }
.p1 { padding: 1rem!important; }
.pt0p5 { padding-top: .5rem!important; }
.pt1 { padding-top: 1rem!important; }
.pt2 { padding-top: 2rem!important; }
.pr0p5 { padding-right: .5rem!important; }
.pr1 { padding-right: 1rem!important; }
.pr2 { padding-right: 2rem!important; }
.pb0p5 { padding-bottom: .5rem!important; }
.pb1 { padding-bottom: 1rem!important; }
.pb2 { padding-bottom: 2rem!important; }
.pl0p5 { padding-left: .5rem!important; }
.pl1 { padding-left: 1rem!important; }
.pl2 { padding-left: 2rem!important; }
.px0p5 { padding-left: .5rem!important; padding-right: .5rem!important; }
.px1 { padding-left: 1rem!important; padding-right: 1rem!important; }
.px2 { padding-left: 2rem!important; padding-right: 2rem!important; }
.py0p5 { padding-top: .5rem!important; padding-bottom: .5rem!important; }
.py1 { padding-top: 1rem!important; padding-bottom: 1rem!important; }
.py2 { padding-top: 2rem!important; padding-bottom: 2rem!important; }

.fn { float: none!important; }
.fl { float: left!important; }
.fr { float: right!important; }

.clear { *zoom: 1; }
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* Typography */
.sans-serif { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
.serif { font-family: Georgia, "Times New Roman", Times, serif; }
.monospace { font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace }

.fs0 { font-size: 0!important; }
.fs12 { font-size: 12px!important; }
.fs16 { font-size: 16px!important; }
.fs24 { font-size: 24px!important; }
.fs-n { font-size: 1rem!important; }
.fs-lg { font-size: 1.25rem!important; }
.fs-sm { font-size: .875rem!important; }
.fs-xs { font-size: .75rem!important; }

.fwn { font-weight: normal!important; }
.fwb { font-weight: bold!important; }

.lh1p5 { line-height: 1.5!important;  }
.lh1p2 { line-height: 1.2!important;  }

.clr0 { color: #000!important; }
.clr3 { color: #333!important; }
.clr6 { color: #666!important; }
.clr9 { color: #999!important; }
.clrc { color: #ccc!important; }
.clrf { color: #fff!important; }

.hl { text-align: left!important; }
.hc { text-align: center!important; }
.hr { text-align: right!important; }

.vt { vertical-align: top!important; }
.vtt { vertical-align: text-top!important; }
.vm { vertical-align: middle!important; }
.vbl { vertical-align: baseline!important; }
.vtb { vertical-align: text-bottom!important; }
.vb { vertical-align: bottom!important;}

.tdn { text-decoration: none; }

/* Visual */
.bg0 { background-color: #000; }
.bg3 { background-color: #333; }
.bg6 { background-color: #666; }
.bg9 { background-color: #999; }
.bgc { background-color: #ccc; }
.bgf { background-color: #fff; }

.vh { visibility: hidden; }
.vv { visibility: visible; }

/* misc */
.oh { overflow: hidden; }
.os { overflow: scroll; }
.oa { overflow: auto; }
