@import './_variables.scss';

body {
  font-size: 62.5%; // 16 * 62.5% = 10
}
.page-header {
  box-sizing: border-box;
  height: 4.4rem;
}
.flex {
  display: flex;
}
.group {
}
.group .last {
  background-clip: padding-box;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
}
.group .first {
  background-clip: padding-box;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
}
