/*
 *
 *
 *
 *  如何组织CSS：http://www.zhangxinxu.com/wordpress/2010/07/%E6%88%91%E6%98%AF%E5%A6%82%E4%BD%95%E5%AF%B9%E7%BD%91%E7%AB%99css%E8%BF%9B%E8%A1%8C%E6%9E%B6%E6%9E%84%E7%9A%84/
 *
 *
 *
 */

@import './_variables';
@import './mixins/_flex';
@import './mixins/_clearfix';
@import './mixins/_userSelect';
@import './glm.lib';
@import './reset';

html,
body {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  font-family: $font-family-base;
}

a { text-decoration: none; }

/**************/
/* Left Style */
/**************/
// 如果你使用了预处理器，那这部分最好存放在变量里

//  Color
//
//

//  Background Color
//
//
.bg68 {
  background-color: #686868;
}

//  Margin
//
//

//  Padding
//
//

//  Width
//
//

//  Height
//
//

//  Flex
//
//
.flex1 {
  flex: 1;
}
.flex0 {
  flex: 0;
}
.flex-box--center,.flex-box-hori {
  @extend .df;
  justify-content: center;
}
.flex-box--center {
  align-items: center;
}
.flex-box--hori {
  align-items: stretch;
}

/**************/
/* Components */
/**************/

// Navigation Bar
//
//
.nav-bar {
  position: relative;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  background-color: #fff;
  @include userSelect(none);
  > .nav-bar-title, .nav-bar-left, .nav-bar-right {
    @extend .flex-box--center;
  }
  > .nav-bar-title {
    @extend .flex1;
    font-size: $font-size-h1;
  }
}

// Nav
//
//
.nav {
  text-align: left;
}
.nav li {
  padding: $spacer;
}

//  Button
//
//
.btn {
  position: relative;
  display: inline-block;
  font: inherit;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1 rgba(0,0,0,.25);
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 3px;
  cursor: pointer;
  @include userSelect(none); 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn-submit {
  @extend .btn;
  font-size: 1rem;
  color: #fff;
  background-image: linear-gradient(#fafafa, #eaeaea);
  border: 1px solid $border-color-ee;
}

//  Text
//
//
.text {
  min-height: 3.4rem;
  padding: .6rem .8rem;
  color: #333;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  outline: none;

  &.focus,
  &:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075),
                      0 0 5px rgba(81, 167, 232, .5);
  }
}

//  Link
//
//
.link {
  color: $link-color;
  text-decoration: $link-decoration;

  &:visited {
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:active {
  }
}

//  List
//
//
.list {
  padding-left: 0;
  background-color: #fff;
  list-style-type: none;
}
.list-item {
  width: 100%;
  padding: 1.4rem 1.5rem 1.4rem 3.5rem;
  border-bottom: 1px solid $border-color-ee;
  @include clearfix();
  > .icon {
    vertical-align: middle;
  }
  > .list-item-title {
    font-weight: 600;
    line-height: 1.2;
    word-wrap: break-word;
  }
  > .meta {
    float: right;
    font-size: 1.1rem;
    color: #999;
  }
}

//  Border
//
//
.bubble {
  padding: 0;
  margin: 0 1.5rem 1.5rem;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid $border-color-ee;
  border-radius: 3px;
  overflow: hidden;

  @at-root .bubble-title {
    display: block;
    padding: 1rem 1.5rem;
    margin: 0;
    font-size: 1.4rem;
    color: #444;
    border-bottom: 1px solid #ddd;
  }
  @at-root .bubble-title--bg68 {
    @extend .bubble-title;
    background-color: #686868;
  }
  @at-root .bubble-content {
  }
}

//  Corner Radius
//
//
.radius-base {
  border-radius: 5px;
}
.radius-sm {
  border-radius: 3px;
}
.radius-
.radius-lg {
  border-radius: 8px;
}
.round {
  border-radius: 50%;
}

//  Icon
//
//
.icon {
  position: relative;
  display: inline-block;
  line-height: 1.25rem;
  vertical-align: text-bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
