.flex {
  display: flex;
}

@mixin flex-center() {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-horizontal-center() {
  @extend .flex;
  align-items: stretch;
  justify-content: center;
}
